<!-- Server rendering -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advance React</title>
    <script type="text/javascript">
        <!-- we do this so we read the initial data from the global scope -->
        window.initialData = <%- JSON.stringify(initialData) -%>
    </script>
</head>
<body>

<div id="root"><%- initialMarkup -%></div>

<!-- Nowadays it is a good practice to make reference to just one file so we do not have multiple references -->
<!-- todo: Ideally we should automate the regeneration of this file to an incremental version (1,2,3...) according to our deployment -->
<script src="/vendor.js?version=1" charset="UTF-8"></script>
<script src="/app.js?version=1" charset="UTF-8"></script>
</body>
</html>